.rating {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 18px;
    margin-top: 24px;
}
.star {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 765px) {
    .star{
        width: 15px;
        height: 15px;
    }
}