.collapse-container {
    display: flex;
    flex-direction: column;
   

  

}
.collapse-container-m {
    width: 47%;
}
.collapse-container-l {
    width: 80%;
}

.collapse-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    margin-bottom: 10px;
    width: 100%;
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
}

.collapse-container button {
    background-color: transparent;
    margin: 0 0 0 90%;
}

#title {
    color: var(--tertiary-color);
    font-size: 20px;
    position: absolute;

}

/* .chevron {
    height: 30px;
    width: 30px;
    rotate: 180deg;
    cursor: pointer;
} */
.collapse-container li {
    list-style: none;
    justify-self: flex-start;
}

.texte {

    width: 100%;
    padding: 10px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    position: relative;
    top: -20px;
    border-radius: 10px;
    z-index: -1;
}

@media screen and (max-width: 895px) {

    .collapse-container {
        flex-wrap: wrap;
        width: 100%;

    }


}

@media screen and (max-width: 550px) {
    .collapse-container {
        width: 95%;
    }
}