.product {
    width: 100%;
    margin: 20px auto;

}

.product-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
}
.product-content-left{
    margin: 0;
}
.product-content-left__title {
    color: var(--primary-color);
    font-size: 36px;
}

.product-content-left__location {
    color: var(--primary-color);
    font-size: 18px;
}

.product-content-left__tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0;

}

.product-content-left__tags li {
    list-style: none;
    justify-content: flex-start;
    color: white;
    background-color: #FF6060;
    border-radius: 15px;
 
    padding: 5px 15px;
    margin: 5px 5px;
    text-align: center;
}

.product-content-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.host{
    display: flex;
    justify-content: center;
    align-items: center;  
    color: var(--primary-color)
}
.host img{
    border-radius: 50%;
    margin: 0 .7rem;
}
.product-informations {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

@media screen and (max-width:769px){
    .product-content-left__title{
        font-size: 25px;
    }
.rating img{
    width:20px;
}

    .product-content-right{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100% ;
        margin: 1rem 0;
    }
    .host,
    .host img {
        width: 50%;
    }

}